body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #e6e6e6;
  text-align: center;
  min-height: 60vh;
  width: 30rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 2rem;
}
